.auth {
  width: 100%;
  max-width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content {
  padding: 0px 20px 20px;
}

.button {
  margin-top: 20px;
}

.hidden {
  display: none;
}
